@charset "utf-8";
.container {background-color: #000000;max-width:900px}

hr { height:2px; border:none; color:rgb(255,255,255); background-color:rgb(255,255,255); }

#footer a {color:rgba(255,255,255,0.7)}
#footer a:hover {color:rgba(255,255,255,1)!important}
#footer {padding-top:10px;padding-bottom:20px}

.navbar-toggler {border-color: rgba(255,255,255,0)!important;}
.navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;}

.navbar-dark .navbar-nav .nav-link { color: rgba(255,255,255,.7)}

a.navbar-brand {display:inline-flex;break-word!important; white-space:pre-wrap!important;align-items: center; }
.navbar-brand span {align-items: center;}
.navbar-brand img {align-items: center;}
.navbar-toggler-icon {position: inherit;}
.bradman {height:100px;background-color:#18b6f9;border-top-left-radius:4px;border-top-right-radius:4px;transition: all 0.6s ease-in-out}
.perkins {height:150px;background-color:#efa92f;border-top-left-radius:4px;border-top-right-radius:4px;transition: all 0.6s ease-in-out}
.freeman {height:75px;background-color:#f2463a;border-top-left-radius:4px;border-top-right-radius:4px;transition: all 0.6s ease-in-out}
.sauvage {height:50px;background-color:#42ff55;border-top-left-radius:4px;border-top-right-radius:4px;transition: all 0.6s ease-in-out}

h4 {margin-bottom:0px!important;padding-bottom:0px!important}

body {color:#fff}

.margintop {margin-top:15px!important}
